body{
    background-image: url("https://images.unsplash.com/photo-1573883431205-98b5f10aaedb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    height: 80vh;
    background-size: cover;
}
.box-404{
    padding: 10vh 0;
    margin: 30vh 0;
    background-color: rgba(0, 0, 0, 0.615);
}

h1,h2{
    text-align: center;
    color: rgb(237, 237, 237);
}
.buttom-return{
    position: relative;
    top: 95px;
    border: 2px solid #8fb9e1;
    background-color: #b2d6e6;
    padding: 10px;
    color: rgb(0, 0, 0);
}
