body{
  background-color: rgb(142, 158, 189) !important;
}
.about-us-body{
    display: flex;
    justify-content: space-between;
}
.first-colum{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    margin: 10vh 0vw 10vh 5vw;
    padding: 5vh 4vw 5vh 0vw;
}
.second-colum{
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    margin: 10vh 10vw 10vh 10vw;
    padding: 10vh 5vw;
    font-size: larger;
}
.card{
    background-color: rgb(156, 242, 242) !important;
    padding-left: 5vw;
}

a{
    text-decoration: none !important;
    color: cornflowerblue !important;
}

@media screen and (max-width:1190px) {
    .second-colum {
        display: none;
    }
}
@media screen and (max-width:758px){
    .first-colum{
        background-color: transparent;
        margin: 10vh 0vw 10vh 20vw;
        padding: 5vh 20vw 150vh -10vw;
        font-size: small;
    }
    .card{
        padding-left: 0;
        margin-right: 7vw;
    }
    .card-body{
        padding: 5vh 10vw 5vh 10vw !important ;
    }
    .second-colum {
        display: none;
    }
}
